[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Luca Angioloni
	email = lucaangioloni@gmail.com
[pull]
	rebase = false